/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

/* ************************ Base ********************** */
body,
h2 {
	font-family: Lato, sans-serif;
	font-size: 18px;
}

input::placeholder {
	font-size: 18px;
}

/* ingredients */
.bg-blue {
	background: #3282f7;
}

/* appliances */
.bg-green {
	background: #68d9a4;
}

/* ustensils */
.bg-orange {
	background: #ed6454;
}

.hidden {
	display: none;
}

/* ************************ logo & brand ********************** */
.brand-heading {
	color: #d04f4f;
	font-family: DM Sans, sans-serif;
}

/* ************************ main search input ********************** */
#search-bar-input {
	height: 69px;
	background: #e7e7e7;
	color: #000;
}

#search-bar-input::placeholder {
	color: #000;
	opacity: 0.25;
}

/* ************************ tags ********************** */

.tags-item {
	font-size: 14px;
}

.tags-item-btn {
	border: transparent;
	background: url(../img/x-circle.svg) center center / 20px 20px no-repeat;
	width: 20px;
	height: 20px;
	/* margin-left: 13px; */
}

/* ************************ dropdown ********************** */

.dropdown-container {
	width: 170px;
	height: 69px;
}

/* input */
.form-control.input-dropdown {
	color: #fff;
	width: 170px;
	max-width: 100%;
	width: 100%;
    font-size: 18px;
	/* height: 69px; */
}

.form-control.input-dropdown::placeholder {
	color: #fff;
	font-weight: 700;
}

/* dropdown expanded */
.dropdown-container.expanded {
	max-width: 667px;
	/* width: 667px; */
	width: auto;
	height: auto;
}

.dropdown-container.expanded input {
	height: 69px;
	width: 667px;
}

.dropdown-container.expanded input::placeholder {
	color: #fff;
	font-weight: 700;
	opacity: 0.5;
}

/* .form-control.input-dropdown.expanded::placeholder {
    color: var(--bs-light);
    opacity: .1px;
    font-weight: normal;
} */

/* tags */
.container-tags {
	width: 100%;
	position: absolute;
	top: 60px;
	left: 1px;
	z-index: 100;
}

.list-tags-item {
	width: 33.3333%;
	min-width: 210px;
}

/* dropdown chevron icon */
.chevron-down,
.chevron-up {
	margin-top: 35px;
}

/* ************************ cards ********************** */

.card {
	background: #c7bebe;
	border: transparent;
	cursor: pointer;
}

.card-img-top {
	height: auto;
	width: auto;
	min-height: 50%;
}

.card-body {
	background: #e7e7e7;
	min-height: 186px;
}

.card-ingredients-list {
	font-size: 12px;
}

.recipe-description {
	font-size: 12px;
	font-family: Roboto, sans-serif;
}